Package: python3-litemigration
Version: 1.1.0-1
Architecture: all
Maintainer: Lunga Mthembu <stumenz.complex@gmail.com>
Installed-Size: 23
Depends: python3 (>= 3.5)
Section: unknown
Priority: optional
Homepage: https://github.com/stumenz/python3-litemigration/
Description: Simple module to make database changes in raw sql
 litemigration is a python module that helps manage database chnages in sql.
